*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body{
    background-color: #8A51FC;
}

.logo{
    width: 300px;
    display: block;
    margin-left:auto;
    margin-right: auto;
}

main{
    width: 375px;
    background: #faf6f6;
    border-radius: 20px;
    margin:0 auto 40px;
    padding: 44px 24px 23px;
}

label{
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}
select, input{
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}
button{
    background: #772FD3;
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 48px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    }
    button:hover{
        opacity: 0.8;
    }
    button:active{
        opacity: 0.6;
    }

    section{
        border: 1px solid #772FD3;
        border-radius: 20px;
        margin-top: 36px;
        padding: 12px;
    }
    .para-img{
      margin: 15px 0;      
    }
    .currency-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }
    .currency{
      color: #e00c0c;
      font-size: 14px;
    }
    .currency-value{
     color: #4a4040;
     font-weight: 700;
     font-size: 20px;
    }